$linkColor: #7B80DC;
$textColor: #333;
$bodyBackgroundColor: #F3F7FA;
$componentsBackgroundColor: #fff;


body {
  //background: $bodyBackgroundColor;
  //background-image: url("../../assets/background-1.png");
}
